*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width:100%;
}

.marcadagua{
    background: url(background.png) right bottom/50px no-repeat;
    background-attachment: fixed;
    right: 20%;
    transform: translate(86%, 0%);
    position: relative;
}

header{
    text-align: justify;
    background-image: linear-gradient(to bottom, rgb(8, 73, 2), rgb(29, 126, 85));
    box-shadow: 2px 2px 3px #1b1b1b;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    height: 140px;
    justify-content: center;
}

.search-box{
    transform: translate(-5%, -120%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 15px;
    border: #f1f1f1 inset;
    box-shadow: 2px 2px 3px #131313a8;
    float:right;
    right: 5%;
    top: 0%;
    position: relative;
}

.search-btn{
    color: #f1f1f1;
    float: right;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24%;
    left: 85%;
    position: absolute;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size:18px;
    transition: 0.4s;
    line-height: 20px;
    width: 260px;
}

.circulo{
    width: 724px;
    height:80px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
}

.idcamara{
    width: 25px;
    height: 25px;
    background: rgba(148, 148, 148, 0.836);
    border: 2px dotted #131313;
    border-radius: 50%;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    transform-style: preserve-3d;
    margin: 37px;
}

.container{
    width: 700px;
    height: 300px;
    margin: auto;

}

.linha1{
    width: 620px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    flex-wrap: nowrap;
    justify-content: center;
}

.linha2{
    width: 620px;
    height: 80px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    flex-wrap: nowrap;
    justify-content: center;
}

.linha3{
    width: 620px;
    height: 80px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn{
    width: 60px;
    height: 50px;
    background: #8b8b8b;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.4s;
    transform-style: preserve-3d;
    perspective: 800px;
    box-shadow: 2px 2px 3px #1b1b1b;
}

.btn::after{
    content: '';
    position: absolute;
    background: rgb(26, 26, 26);
    transition: 0.4s
}

.btn:hover{
    transform: rotateX(20deg);
    box-shadow: 1px 1px 1px #1b1b1b
}
.btn:after{
    width: 100%;
    height: 24px;
    top: 100%;
    left: 0;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}

.content{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    text-align: center;
    color:#fff;
    letter-spacing: 12px;
    font-size: 63px;
    margin:auto;
    display: flex;
    justify-content: center;
}

header p{
    font-size: 22px;
    color: #f1f1f1;
    justify-content: center;
    text-align: center;
}

h3{
    color:#2f3640;
    letter-spacing: 2px;
    font-size: 50px;
    margin: auto;

}

h4{
    color:#2f3640;
    letter-spacing: 2px;
    font-size: 20px;
    margin: auto;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgb(3, 77, 31);
    color: #fff;
    width: 100vw;
    padding:  20px 0;
}

.logo{
    width: 200px; 
    height: 200px; 
    float:left; 
    background: url(Brasao.png) center center/170px no-repeat; 
    font-size:0;
    left: 15%;
    top: 4%;
    position: relative;
    transform: translate(-5%, -60%);
}

#bottomSheetContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.616);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: none;
}

#bottomSheetContainer.active{
    display: flex;
}

#bottomSheet{
    background-color: aliceblue;
    width: 600px ;
    height: 480px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

#bottomSheet.active{
    transform: translateY(0);
}

#bottomSheet a{
    color:#131313;
    text-decoration: none;
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#bottomSheet a:hover{
    background-color: rgb(214, 214, 214);
    
}

